body {
  background-color: black;
  color: purple;
  text-align: left;
}

h1 {
  color: purple;
  text-align: center;
}

p {
  font-family: tahoma;
  font-size: 20px;
}

img {
  border-radius: 2px;
  border-color: gray;
  align-content: center;
}

h2 {
  color: purple;
  text-align: center;
}
