body {
  background-color: black;
  color: purple;
  text-align: left;
}

h1 {
  color: purple;
  text-align: center;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

img {
  border-radius: 1px;
  border-color: gray;
  text-align: center;
}

h2 {
  color: purple;
  text-align: center;
}
